.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  text-align: center;
}

.login > div {
  padding: 2rem;
  min-width: 20rem;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border-radius: 0.5rem;
}

.login .avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.login .avatar-container.minus-margin {
  margin-bottom: -1rem;
}

.image-in-conversation {
  max-height: 200px;
}

.comment {
  clear: both;
  padding: 1rem 0;
}
